@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaini+Purva&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../public/laptop_screen_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

.clock {
  background: url("../public/gifs/settings.gif") no-repeat center center;
  z-index: 3;
}

@font-face {
  font-family: "arcadeclassic";
  src: url("../public/fonts/ARCADECLASSIC.TTF") format("truetype");
}

@font-face {
  font-family: "pencil";
  src: url("../public/fonts/Pencilant Script.ttf") format("truetype");
}
